<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <form action="/register" method="post">
  <input type="text" value="" name="username">
  <input type="text" value="" name="password">
  <button type="submit">Click me</button>
  </form>
  
</body>
</html>