
    
    
  
    <div id="registration_div">
    <form action="/login" method="POST">
    <label for="username">Username: <input type="text" name="username">
    <label for="password">Password: </label><input type="text" name="password">
    <button type="submit">Login</button>
    </form>
    </div>
    
