.forgotPasswordDiv{
    font-family: 'Lato', sans-serif;
    border: 1px solid;
    max-width: 40%;
    margin: auto;
    padding: 50px;
    top: 250px;
    position: relative;
    border-radius: 1em;
}

#enterEmail{
    max-width: inherit;
    display: block;
    margin-top: 1em;
    
}

#submitEmail {
    width: 100px;
    margin: auto;
    margin-top: 1em;
    display: block;
}

#forgottenForm{
    max-width: 100%;
}

#errorBlock{
    color: white;
    background-color: red;  
    padding: 5px;
}

