#allTickets,#pendingTickets,#resolvedTickets{
    display: inline-block;
    vertical-align: top;
    max-width: 150px;
    float: left;
    margin-right: 2px;
    border-width: 100% !important;
    border-radius: 0px;
}  



.TicketContainer {
    font-family: 'Lato', sans-serif;

}
.tabs{
    padding-top: 1em;
}

.col{
    padding-right: 0 !important;
}

body > #root > div {
    height: 100vh;
  }

#ulTickets{
      width: 50% ;
      margin: auto;
  }

#liTickets{
    width: 100%;
    
}

.tabs{
    max-width: 50% !important;
    margin: auto;
    border-bottom: solid #007bff;
    padding-left: 0px !important;
    
}

ul.pagination{
    align-items: center;
    margin-top: 1em;
}

.paginationContainer{
    position: sticky;
}





