
.container{
    height: inherit;

}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10em !important;
    max-width: 600px;
    margin: 0 auto;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px; 
}

.jumbotron{
    background-color:transparent !important;
}


#loginBttn, #registerBttn{
    font-family: 'Lato', sans-serif;
    display: block;
    min-width: 200px;
    max-width: 200px;
    margin-top: 1em;
    padding: 5px;
    border-radius: 1em;
    border: 1px t;
    
   


    
}



